/* body{
    /* background-color: pink; */
    /* background-image: url(https://media.gettyimages.com/photos/jesy-nelson-jade-thirlwall-perrie-edwards-and-leighanne-pinnock-from-picture-id624347050?s=2048x2048); */
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-image: url("https://media.gettyimages.com/photos/perrie-edwards-jesy-nelson-leighanne-pinnock-and-jade-thirlwall-of-picture-id484945912?s=2048x2048");
    /* background-color: transparent; */
    /* background-image: url("https://png.pngtree.com/thumb_back/fw800/back_pic/03/60/27/4857a59d7d1ca62.jpg"); */
    /* background-size: 50%; */
    /* background-position-x: right; */
    /* background-position-y: 30%; */
    
}
/* img{
    display: block;
    height: 600px;
    width :1000px;
    margin-left: auto;
    margin-right: auto;
    border: right 20px whitesmoke;
    border: left 20px whitesmoke;

    
} */
h1{
    text-align: center;
}
.bio{
    margin: 10px white;
}
.secondimage{
    display:inline;
}
.secondimage img{
    margin-right:50%;
    width: 400;
    display:flex;
}
.secondimage p{
    margin-right: 50%;
    margin-left: 0%;
}
.members img{
    height: 400px;
    width: 400px;
    margin-right: 70%;
    display: flex;
}
#Leigh-Anne{
    display: block;
}
#Leigh-Anne p{
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}
#firstPart{
    background-image: url("https://media.gettyimages.com/photos/perrie-edwards-jesy-nelson-leighanne-pinnock-and-jade-thirlwall-of-picture-id484945912?s=2048x2048");
    background-size: cover;
    height: 600px;
    width :1000px;
    margin-left: auto;
    margin-right: auto;
    background-attachment: fixed;

}
.generalBio{
    background-image: url("https://png.pngtree.com/thumb_back/fw800/back_pic/03/60/27/4857a59d7d1ca62.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    padding: 50px;
}

#description{
    margin-bottom: 20%;
}

#songlist{
    margin-left: 50%;
}
#listimage{
    float: left;
    /* margin-right: 50%; */
    height: 500px;
    width: 500px;
}

#trialdiv{
    background-image: url("https://image.freepik.com/free-photo/pink-watercolor-texture-white-paper-background_7190-947.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    margin-bottom: 200px;
} 
#